.Background{
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}
.Background__elipse{
    width: 800px;
    height: 700px;
    margin-top: 310px;
}
.Background__diagramm{
    width: 705px;
    height: 800px;
/*     margin-top: 700px; */
    margin-left: 150px;
}
.Background__arrow{
    width: 600px;
    transform: matrix(0.95, -0.32, 0.32, 0.95, 0, 0);
    /* margin-top: 1100px; */
    margin-left: 365px;
}